.main-header {
  /* padding: 1rem 0rem; */
  border-bottom: 1px solid #e9ecef;
  background-color: white;
  display: left;
  align-items: left;
  margin-bottom: 50px;
}

/* .logo {
  height: 40px;
  width: auto;
  display: block;
  margin-left: 0;

} */
