.main-header {
  padding: 1rem 2rem;
  border-bottom: 1px solid #e9ecef;
  background-color: white;
  display: flex;
  align-items: center;
}

/* .logo {
  height: 40px;
  width: auto;
  display: block;
  margin-left: 0;

} */
